/* Simple normalize */
html { line-height: 1.15; -webkit-text-size-adjust: 100%; }
body { margin: 0; }
main { display: block; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
button { font: inherit; }
